
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: @body-font-color;
}


// Links

a {
    color: @link-font-color;
    text-decoration: underline;
    transition: color 0.4s ease;

    &:hover {
        color: @link-hover-font-color;
    }
}


// Paragraphhs

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}


// Headings

h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-bottom: 3rem;
    color: @heading-color;
}

h1 {
    font-size: 4.5rem;
}

h2, h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
}