

// Variables
// ------------------------------------------------------------------


// Colors

@body-font-color: #919191;
@heading-color: #3C2E3D;
@sidebar-background-color: #8BCBC8;
@sidebar-font-color: white;


// Size

@basic-gutter: 3rem;